body{
background-color:#004E7C;
}

h1
{
font-family:Consolas; 
color:white;
font-size: 300%
}

h6
{
 }


p
{
font-family:Consolas;
color:red;
font-size:160%;
}

a{
color:white;
font-size:100%;

}

ul
{position:fixed;
top:0;
width:2000%;
height: 8%;
list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.active {
  background-color: #04AA6D;
}
li {
  border-right: 1px solid #bbb;
}
